
#sessions {
    dock: left;
    width: 0.2fr;
    min-width: 25;
    border: solid $primary;
}

#input {
    dock: bottom;
}

ChatLog > ListItem {
    background: $surface;
}
ChatLog > ListItem > Widget :hover {
    background: $boost;
}
ChatLog > ListItem.--highlight {
    background: $accent 50%;
}
ChatLog:focus > ListItem.--highlight {
    background: $accent;
}

ModelPickerModal {
    align: center middle;
}

ModelPickerModal > Widget {
    padding: 1 2;
    width: 60;
    height: 14;
    border: heavy $accent;
    /* background: $surface; */
}

ModelPickerModal ListItem {
    background: $background;
}

ModelPickerModal ListItem.--highlight {
    background: $accent 50%;
}
